<section class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Copyright &copy 2015 <a href="http://www.cssmoban.com/" target="_blank" title="cd-kls">cd-kls</a></div>
            <div class="col-md-6 text-right">
                Supported by <a href="http://www.cowinit.com">cowinit</a>
            </div>
        </div>
    </div>
</section>