<section class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                Copyright &copy 2015 <a href="http://www.cdklssh.com/" target="_blank" title="cd-kls">成都可兰素石化有限公司</a></div>
            <div class="col-md-6 col-sm-6">
                <div class="supported">Supported by <a href="http://www.cowinit.com">cowinit</a></div>
            </div>
        </div>
    </div>
</section>