<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <% include inc/header.ejs %>
    </head>
    
    <body>
        
        <!-- NAVIGATION -->
        <% include inc/nav.ejs %>
        
        <!-- SINGLE -->
        <section class="single-page">
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>关于我们</h1>
                            <p>About Us</p>
                        </div>
                    </div>  
                </div>  
            </div>  
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-detail">
                            <div class="row">
                                <img class="img-responsive" src="/images/about_01.jpg" alt="成都市可兰素石化有限公司" style="border:none;" />
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/images/banner3.jpg" alt="成都市可兰素石化有限公司" style="width:100%;border:0">
                                </div>
                                <div class="col-md-8">
                                     <p>2016年2月，成都市可兰素石化有限公司在成都注册成立，主要经营销售江苏可兰素汽车环保科技有限公司一系列的环保产品，包括AdBlue（柴油机尾气处理液，汽车保护尿素，SCR技术中必须要用到的消耗品）及车用AdBlue加注设备，工业脱销还原剂，可生物降解防冻液以及车用环保类产品，公司位于四川省成都市新都传化物流园区。并率先在新都物流园区建立了AdBlue加注站，开启了流动式加注设备的先列。</p>
                                    <p>
                                    成都可兰素石化坚持保护生态环境，为国IV.国V车辆用户提供了高品质的车用AdBlue.并解决了AdBlue的加注难题。
                                    </p>
                                    <p>成都可兰素石化致力于“空气更清，绿草更青”的理念努力为我国的环保事业做出一份贡献。</p>
                                    <p>2016.5.12流动式加注正式开启！行业内流动车加出的第一滴液体，引领了整个行业流动式加注的开始。</p>

                                    <p>企业文化：责任 创新 挑战</p>

                                    <p>企业愿景：以科技还原生活</p>

                                    <p>企业宗旨：蓝天、碧水、清新可人的空气，可兰素，引领环保新表现</p>

                                    <p>行动准则：面向市场 主动出击 专业水准 快速反应</p>

                                    <p>质量方针：全面控制 持续改进 锐意进取追求卓越</p>

                                    <p>销售主张：品质王者 开创中国AdBlue市场</p>
                                </div>
                            </div>
                            <!-- <img class="img-responsive" src="images/about_02.png" alt="" style="border:none;" /> 
                            <img class="img-responsive" src="images/about_03.png" alt="" style="border:none;" />  -->
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SINGLE -->
        
        <!-- BOTTOM FOOTER -->
        <% include inc/footer.ejs %>
        <!-- END BOTTOM FOOTER -->
        
        <!-- ALL JAVASCRIPT -->         
        <script src="js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>