<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <% include inc/header.ejs %>
    </head>
    
    <body>
        
        <!-- NAVIGATION -->
        <% include inc/nav.ejs %>
        
        <!-- SINGLE -->
        <section class="single-page">
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>关于我们</h1>
                            <p>About Us</p>
                        </div>
                    </div>  
                </div>  
            </div>  
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-detail">
                            <img class="img-responsive" src="images/about_01.jpg" alt="" style="border:none;" /> 
                            <img class="img-responsive" src="images/about_02.png" alt="" style="border:none;" /> 
                            <img class="img-responsive" src="images/about_03.png" alt="" style="border:none;" /> 
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SINGLE -->
        
        <!-- BOTTOM FOOTER -->
        <% include inc/footer.ejs %>
        <!-- END BOTTOM FOOTER -->
        
        <!-- ALL JAVASCRIPT -->         
        <script src="js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>