<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <% include inc/header.ejs %>
    </head>
    
    <body>
        
        <!-- NAVIGATION -->
        <% include inc/nav.ejs %>
        
        <!-- SINGLE -->
        <section class="single-page">
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Single Page</h1>
                            <p>Nam apeirian assentior ei, utquo eros posse verterem error congue</p>
                        </div>
                    </div>  
                </div>  
            </div>  
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-detail">
                            <h1>Eapeirian assentior ei, utquo eros posse verterem error congue, Partem graecis iracundia nec consequ untur.</h1>
                            <img class="img-responsive" src="images/video-img.jpg" alt="" /> 
                            <p>Wordpress apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci vulputate consetetur, causae consulatu eaper. Partem graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation. apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci vulputate consetetur, causae consulatu eaper.</p>
                            <blockquote><p style="font-size: 15px; color: #999; letter-spacing: 0.5px;word-spacing: 1px;">Web design graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren.</p>
                            </blockquote>   
                            
                            <h2>Bootstrap eros posse verterem error congu</h2>
                            <p>Partem graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation</p>
                            
                            <h2>News eros posse verterem error congu</h2>
                            <p>Partem graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation</p>
                            
                            <p>Partem graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation</p>
                        </div>  
                        <div class="comments">
                            <h2>comments</h2>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="media-left"><img class="img-responsive img-circle" src="images/team-1.png" width="80px" alt=""></div>
                                    <div class="media-body">
                                        <h3 class="media-heading">Media heading</h3>
                                        <p>Nam apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci vulputate consetetur, causae consulatu eaper. Partem graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur  consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation graecis iracundia nec</p>
                                        <div class="media">
                                            <div class="media-left"><img class="img-responsive img-circle" src="images/team-2.png" width="80px" alt=""></div>
                                            <div class="media-body">
                                                <h3 class="media-heading">Media heading</h3>
                                                <p>Nam apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci vulputate consetetur, causae consulatu eaper. Partem graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur  consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation graecis iracundia nec</p>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><img class="img-responsive img-circle" src="images/team-3.png" width="80px" alt=""></div>
                                    <div class="media-body">
                                        <h3 class="media-heading">Media heading</h3>
                                        <p>Nam apeirian assentior ei, utquo eros posse verterem. Cum eu error congue saperet. Te eam exerci vulputate consetetur, causae consulatu eaper. Partem graecis iracundia nec. Assueverit consequuntur mei, eos cu mutat percipitur  consequuntur mei, eos cu mutat percipitur.No quandoiudicabit usu, est in melius dolorum scriptorem. Summo gubergren te mei, eam torquatos abhorreant ne.Pri meis illud nobis ut legere tempor eripuit te sed. Verterem phaedrum consectetuer et quo. Omniumdisputation graecis iracundia nec</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SINGLE -->
        
        <!-- BOTTOM FOOTER -->
        <% include inc/footer.ejs %>
        <!-- END BOTTOM FOOTER -->
        
        <!-- ALL JAVASCRIPT -->         
        <script src="js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>