<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <% include inc/header.ejs %>

        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=c0VfzSYdYWshtI846sMTGmOLntdmovww"></script>
    </head>
    
    <body>
        
        <!-- NAVIGATION -->
        <% include inc/nav.ejs %>
        
        <!-- SINGLE -->
        <section class="single-page">
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>联系我们</h1>
                            <p>Contact Us</p>
                        </div>
                    </div>  
                </div>  
            </div>  
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-detail">
                            <div class="contact row">
                                <div class="col-md-4">
                                    <div class="panel panel-primary" style="margin-top:20px;">
                                        <div class="panel-heading">联系方式</div>
                                          <div class="panel-body">
                                            <ul class="mycontact">
                                                <li class="text-muted"><span>电话：</span><span>028-68309555</span></li>
                                                <li class="text-muted"><span>手机：</span><span>13982278929</span></li>
                                                <li class="text-muted">联系人：<span>刘建</span></li>
                                                <li class="text-muted">QQ：<span>1216690653</span></li>
                                                <li class="text-muted"><span>技术咨询：</span><span>028-69891253</span></li>
                                                <li class="text-muted"><span>地址：</span><span>传化物流司机之家Y-012</span></li>
                                            </ul>
                                          </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="panel panel-primary" style="margin-top:20px;">
                                        <div class="panel-heading">来访地图</div>
                                        
                                    <div style="width:100%;height:450px;border:#ccc solid 1px;font-size:12px" id="map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END SINGLE -->
        
        <!-- BOTTOM FOOTER -->
        <% include inc/footer.ejs %>
        <!-- END BOTTOM FOOTER -->
        
        <!-- ALL JAVASCRIPT -->         
        <script src="js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
    <script type="text/javascript">
    //创建和初始化地图函数：
    function initMap(){
      createMap();//创建地图
      setMapEvent();//设置地图事件
      addMapControl();//向地图添加控件
      addMapOverlay();//向地图添加覆盖物
    }
    function createMap(){ 
      map = new BMap.Map("map"); 
      map.centerAndZoom(new BMap.Point(104.14002,30.800034),18);
    }
    function setMapEvent(){
      map.enableScrollWheelZoom();
      map.enableKeyboard();
      map.enableDragging();
      map.enableDoubleClickZoom()
    }
    function addClickHandler(target,window){
      target.addEventListener("click",function(){
        target.openInfoWindow(window);
      });
    }
    function addMapOverlay(){
      var markers = [
        {content:"成都市新都区新都街道物流大道88号19栋S1220号",title:"成都可兰素",imageOffset: {width:-46,height:-21},position:{lat:30.800104,lng:104.139374}}
      ];
      for(var index = 0; index < markers.length; index++ ){
        var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
        var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
          imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
        })});
        var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)});
        var opts = {
          width: 200,
          title: markers[index].title,
          enableMessage: false
        };
        var infoWindow = new BMap.InfoWindow(markers[index].content,opts);
        marker.setLabel(label);
        addClickHandler(marker,infoWindow);
        map.addOverlay(marker);
      };
    }
    //向地图添加控件
    function addMapControl(){
      var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:3});
      map.addControl(navControl);
    }
    var map;
      initMap();
      map.addEventListener('ready',function () {
          alert(1)
      })
      window.setTimeout(function () {
          $('label').css('max-width','100px');
      },1000)
      
  </script>
</html>