<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <% include inc/header.ejs %>
    </head>
    
    <body>
        <!-- NAVIGATION -->
        <% include inc/nav.ejs %>
        <!-- HOME -->
        <section class="home">
            <div class="bs-carousel">
                <div id="my-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h1>Welcome to <span>CD-KLS</span>, No Coding Knowledge Required to Build!</h1> 
                                        <p class="tagline">We love latest feature of the year, Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah.</p>                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h1>Welcome to <span>Skyblue</span>, No Coding Knowledge Required to Build!</h1>    
                                        <p class="tagline">We love latest feature of the year, Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah.</p>                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <h1>Welcome to <span>Skyblue</span>, No Coding Knowledge Required to Build!</h1>    
                                        <p class="tagline">We love latest feature of the year, Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah.</p>                  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    
              </div> <!-- END CAROUSEL -->
                <!-- Controls -->
                <a class="arrow arrow-left" href="#my-carousel" role="button" data-slide="prev">
                    <span><i class="fa fa-caret-left"></i></span>
                </a>
                <a class="arrow arrow-right" href="#my-carousel" role="button" data-slide="next">
                    <span><i class="fa fa-caret-right"></i></span>
                </a>
            </div>
        </section>
        <!-- END HOME -->
        
        <!-- FEATURE -->
        <section class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1 text-center">
                        <h1>Feel the Difference & Excellence of <span>Skyblue</span></h1><div class="border center-block"></div>
                        <p class="tagline">We love latest feature of the year, Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah sastra latin klasik dari era 45 sebelum masehi</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h3><i class="fa fa-lightbulb-o"></i>Highly customizable</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing Quasi, sapiente sunt rem beatae architecto cupiditate numquam consectetur dolorum seperti anggapan.</p>
                        <a href="#">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3><i class="fa fa-cubes"></i>Drag & drop page builder</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing Quasi, sapiente sunt rem beatae architecto cupiditate numquam consectetur dolorum seperti anggapan.</p>
                        <a href="#">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3><i class="fa fa-support"></i>Free update & support </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing Quasi, sapiente sunt rem beatae architecto cupiditate numquam consectetur dolorum seperti anggapan.</p>
                        <a href="#">Read More <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </section><hr>
        <!-- END FEATURE -->
    
        
    
        <!-- FEATURE PROJECT -->
        <section class="feature-project">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
                        <h1>Feature Projects</h1><div class="border center-block"></div>
                        <p class="tagline">We love latest feature of the year, Tidak seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak. Ia berakar dari sebuah naskah sastra latin klasik dari era 45 sebelum masehi</p>
                    </div>
                </div>  
            </div>  
            
            <div id="feature-project" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                        <li data-target="#feature-project" data-slide-to="0" class="active"><button class="btn btn-primary"><i class="fa fa-arrow-left"></i></button></li>
                        <li data-target="#feature-project" data-slide-to="1"><button class="btn btn-primary"><i class="fa fa-arrow-right"></i></button></li>
                    </ol>   
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="container-fluid">
                            <div class="row p-y-0">
                                <div class="col-md-3 col-sm-6 p-x-0 ">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-1.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-2.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-3.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-4.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid">
                            <div class="row p-y-0">
                                <div class="col-md-3 col-sm-6 p-x-0 ">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-5.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-6.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-7.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 p-x-0">
                                    <div class="project-img"> 
                                        <img class="img-responsive" src="images/p-8.jpg" alt="Project-image" />
                                        <div class="project-overlay">
                                            <div><i class="fa fa-link"></i><i class="fa fa-search"></i></div>
                                            <h4>Red Business Cards</h4>
                                            <p> Web Design, Branding</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END FEATURE PROJECT -->
    
        <!-- PROJECT ITEM -->
        <section class="project-item">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-magic"></i></span> </div>
                                <div class="media-body"><h4>Gorgeous & Trendy Design</h4>
                                    <p>Seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak berakar dari</p></div>
                            </div>
                        </div>
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-android"></i></span> </div>
                                <div class="media-body">
                            <h4>Gorgeous & Trendy Design</h4>
                            <p>seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak berakar dari</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-clipboard"></i></span> </div>
                                <div class="media-body">
                            <h4>Drag & Drop page Builder</h4>
                            <p>Seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak berakar dari</p>
                                    </div>
                                </div>
                        </div>
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-dropbox"></i></span> </div>
                                <div class="media-body">
                            <h4>Drag & Drop page Builder</h4>
                            <p>Seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak berakar dari</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-laptop"></i></span> </div>
                                <div class="media-body">
                            <h4>Responsive & Retina Ready</h4>
                            <p>Seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak berakar dari</p>
                                    </div>
                                </div>
                        </div>
                        <div class="single-item">
                            <div class="media">
                                <div class="pull-left"><span class="feature-hex"><i class="fa fa-dashboard"></i></span> </div>
                                <div class="media-body">
                            <h4>Responsive & Retina Ready</h4>
                            <p>Seperti anggapan banyak orang, Lorem Ipsum bukanlah teks-teks yang diacak berakar dari</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END PROJECT ITEM -->
    
        <!-- BOTTOM FOOTER -->
        <section class="bottom-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        Copyright &copy 2015 <a href="http://www.cssmoban.com/" target="_blank" title="cd-kls">cd-kls</a></div>
                    <div class="col-md-6 text-right">
                        Supported by <a href="http://www.cowinit.com">cowinit</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- END BOTTOM FOOTER -->
        
        <!-- ALL JAVASCRIPT -->         
        <script src="js/jquery.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/custom.js"></script>
    </body>
</html>